@import "tailwindcss";

:root {
  --bg-light: #f7f9fb;
  --accent-light: #fbfbfb;
  --primary-color: #234da2;
  --primary-hover: #102f6c;
  --secondary-color: #00bc80;
  --secondary-hover: #0bd696;
  --text-primary: #1d2937;
  --text-secondary: #495563;
  --text-nav: #495563;
  --text-white-secondary: #bfc0c1;
  /* dark color */
  --bg-dark: #1d2937;
  --dark-hover: #7c8084;
  --accent-dark: #364151;
}

.loader {
  --c1: #673b14;
  --c2: #f8b13b;
  @apply w-10 h-20 border-t-[4px] border-b-[4px] grid overflow-hidden;
  border-color: var(--c1);
  background: linear-gradient(
      90deg,
      var(--c1) 2px,
      var(--c2) 0 5px,
      var(--c1) 0
    )
    50% / 7px 8px no-repeat;
  animation: spin-loader 2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: linear-gradient(#000 0 0) bottom / 4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background: linear-gradient(var(--d, 0deg), var(--c2) 50%, #0000 0) bottom /
      100% 205%,
    linear-gradient(var(--c2) 0 0) center / 0 100%;
  background-repeat: no-repeat;
  animation: spin-loader-inner 2s linear infinite;
}

.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s: 3px;
  --d: 180deg;
}

@keyframes spin-loader {
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0.5turn);
  }
}

@keyframes spin-loader-inner {
  10%,
  70% {
    background-size: 100% 205%, var(--s, 0) 100%;
  }
  70%,
  100% {
    background-position: top, center;
  }
}

.loader-blast::before,
.loader-blast::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image: radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}

.loader-blast::after {
  font-size: 1px;
  background: #fff;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0%,
  100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}

@keyframes blast {
  0%,
  40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}
